* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* CENTRALIZAR PAINEL */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* PAINEL DE LOGIN */

.container {
    display: flex;
    width: 490px;
    padding: 50px 67px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background: #F2F2F2;
    box-shadow: 10px 10px 17.3px 0px rgba(0, 0, 0, 0.07);
}

/* PARTE DO LOGIN E NOVO USUÁRIO */

.login h4 {
    width: 426px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login a {
    color: #1976D2;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.login a:hover {
    color: blue;
    font-size: 20px;
    transition: 0.5s;
}

/* PARTE PARA ADICIONAR O EMAIL, SENHA E O BOTÃO */

.colocar-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.colocar-dados input {
    border-radius: 17px;
    background: #FFF;
    width: 426px;
    height: 50px;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border: none;
    outline-color: #1976D2;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.363);
}

.colocar-dados button {
    width: 426px;
    height: 50px;
    padding: 0px 104px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #20C25B;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.363);
    cursor: pointer;
}

.colocar-dados button:hover {
    color: #000;
}

/* ESPAÇO ONDE TEM O ---OU--- */

#painel {
    display: flex;
    width: 426px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#ou {
    color: #BDBDBD;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#line-right {
    width: 182px;
    height: 2px;
    background-color: #BDBDBD;
}

#line-left {
    width: 182px;
    height: 2px;
    background-color: #BDBDBD;
}

/* ENTRAR COM O GOOGLE OU MICROSOFT */

.enter-google,
.enter-microsoft {
    display: flex;
    width: 426px;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 119px;
    background: #FFF;
    border: none;
}

.enter-google, h3, a {
    color: #1976D2;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

h3:hover {
    color: blue;
    font-size: 22px;
    transition: 0.5s;
}

.img {
    display: flex;
    align-items: center;
}